body{
    padding: 0;
    margin: 0;
}
.main .links{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    font-size: 34px;
}
.main{
    position: sticky;
    top: 0;
}
a{
    text-decoration: none;
    color: black;
}
.container .sidebar{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 200px;
    height: 100%;
    font-size: 34px;
    position: fixed;
    top: 38px;
}
.scroll-content{
    text-align: auto;
    padding-left: 220px;
}
div .text-box{
    width:auto;
    height: 50px;
}
input{
    width: auto;
    height: 50px;
    padding-right: 50px;
    position: absolute;
    right: 0;
}
